.navBar {
    background-color: #F28705;
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.a-navBar {
    width: 20px;
}

.sombreado {
    background-color: aqua;
}