.content-cardRef {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.8rem;
  width: 80%;
}

.title-card {
  color: #f28705f2;
  text-align: start;
  font-size: 1.5rem;
}

.desc-card {
  color: rgb(51, 51, 51);
  text-align: start;
  font-size: 0.95rem;
  width: 90%;
}

.ctn-img {
  width: 9rem;
  height: 9rem;
  aspect-ratio: 1/1;
  margin: 1rem;
}

.img-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
