.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10vh;

  background-color: #f28705;
}

.img-header {
  width: 60px;
  height: auto;
  margin-left: 1rem;
}

.titulo-header {
  color: white;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.bar {
  width: 40%;
  height: 4px;
  background-color: white;
}

.btn-header {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  /* Estilo */
  width: 60%;
  height: 90vh;
  background-color: #f28705f2;
  display: flex;
  justify-content: center;

  /* Posição */
  position: absolute;
  top: 5.96rem;
  right: 0;
  z-index: 1;
}

.itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 6rem;
  width: 85%;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.item-slide {
  display: flex;
  align-items: center;
  background-color: #c96e00;
  color: white;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  width: 100%;
}

.item-slide img {
  width: 20px;
}

.item-slide p {
  font-size: 12px;
}

.deslogar {
  display: flex;
  align-items: center;
  background-color: #c96e00;
  color: white;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 8px;
  width: 100%;
  font-size: 1.3rem;
}
