.content-RegistroPage {
  background-color: #F28705;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  width: 100vw;
  height: 100vh;
}

.logoRegistro {
  position: absolute;
  top: 6rem;
  transform: translate(-50%, 0);
}

.tituloRegistro {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.formRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 80vw;
}

.inputRegistro {
  width: 100%;
  height: 35px;
  background: white;

  border: 1px solid #f27405;
  border-radius: 0.2rem;
  padding-left: 0.4rem;
}

.labelRegistro {
  width: 100%;
  text-align: start;
  color: white;

  font-size: 1.1rem;
  padding: 0.4rem 0;
}

.btnRegistro {
  background-color: #5FA604;
  border: 1px solid #5FA604;
  font-size: 1.2rem;
  padding: 0.4rem 1.6rem;
  color: white;
  margin-top: 1.4rem;
  border-radius: 0.2rem;
  transition: 0.2s ease-in-out;
  width: 100%;

  cursor: pointer;
}

.btnRegistro:hover {
  background-color: white;
  color: #5FA604;
}

.ctn-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnVoltar {
  background-color: white;
  border: 1px solid white;
  font-size: 1rem;
  padding: 0.4rem 1.4rem;
  color: #fba946;
  margin-top: 1.4rem;
  border-radius: 0.2rem;
  transition: 0.2s ease-in-out;
  text-decoration: none;

  cursor: pointer;
}
.cadastroLoginLink {
  font-size: 1.2rem;
  color: #235802;
  text-decoration: none;
  
}

.cadastroLoginLink:hover {
  color: #235802;
}